# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Secrets / credentials
credentials.json
token.json
*.key
*.pem

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

#databases
*.db
*.sqlite
*.sqlite3
*-journal
agent_memory.db
